<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>500000</particles>
  <batches>1000</batches>
  <inactive>500</inactive>
  <keff_trigger>
    <threshold>0.0001</threshold>
    <type>std_dev</type>
  </keff_trigger>
  <source particle="neutron" strength="1.0" type="independent">
    <space type="fission">
      <parameters>-0.85005 -0.85005 -1 0.85005 0.85005 1</parameters>
    </space>
  </source>
  <trigger>
    <active>true</active>
    <max_batches>1000</max_batches>
    <batch_interval>5</batch_interval>
  </trigger>
</settings>
