<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>10000</particles>
  <batches>400</batches>
  <inactive>200</inactive>
  <source particle="neutron" strength="1.0" type="independent">
    <space type="fission">
      <parameters>-1.1334 -1.1334 -1 1.1334 1.1334 1</parameters>
    </space>
  </source>
</settings>
