<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>200000</particles>
  <batches>200</batches>
  <inactive>100</inactive>
  <source particle="neutron" strength="1.0" type="independent">
    <space type="fission">
      <parameters>-1.1334 -1.1334 -1.0 1.1334 1.1334 1.0</parameters>
    </space>
  </source>
</settings>
